<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Log in</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="loginForm" #form="ngForm">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
          Email is invalid
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" (click)="login()">
        Log in
      </button>
    </form>

    <button mat-raised-button color="primary" (click)="loginWithGoogleAccount()">
      Log in using Google
    </button>

    <h3 class="text-or">or</h3>

    <div fxLayout="row" id="buttons">
      <button mat-button color="primary" routerLink="../reset-password">Password reset</button>
      <button mat-button color="primary" routerLink="../signup">Register</button>
    </div>

  </mat-card-content>

</mat-card>
