#forms
{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#results
{
    font-family: 'Gothic A1', sans-serif;
}
.fl
{
    width: 50%;
    float: left;
}
.cb
{
    clear: both;
}