<link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">


  <mat-card id="forms">Searching upcoming matches by league...<br><br>
    <mat-form-field>
        <mat-select placeholder="Choose country" [formControl]="Countries" (ngModelChange)="ChangeSelectedCountry($event)">
          <mat-option *ngFor="let country of AllCountries" [value]="country">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-select placeholder="Choose league" [formControl]="League" (ngModelChange)="ChangeSelectedLeague($event)">
          <mat-option *ngFor="let league of Leagues" [value]="league">
            {{league.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card>


<div *ngIf="dataSource">
<mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="schedule_date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.schedule_date | date:'medium' }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="stadium">
      <mat-header-cell *matHeaderCellDef> Stadium </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.stadium}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="team_season_home_name">
        <mat-header-cell *matHeaderCellDef> Home Team </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.team_season_home_name}} </mat-cell>
      </ng-container>
  
    <ng-container matColumnDef="team_season_away_name">
      <mat-header-cell *matHeaderCellDef> Away Team </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.team_season_away_name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="ClickedRow(row)"></mat-row>
  </mat-table>
</div>