<div [formGroup]="passwordsFormGroup">
  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="passwordsFormGroup.get('password').hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordsFormGroup.get('password').hasError('minlength')">
      The password should be at least 8 characters long
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Repeat password" formControlName="password2">
    <mat-error *ngIf="passwordsFormGroup.get('password2').hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordsFormGroup.get('password2').hasError('mathOther')
                  && !passwordsFormGroup.get('password2').hasError('required')">
      Passwords are different
    </mat-error>
  </mat-form-field>
</div>