<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Register</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="formGroup" #form="ngForm">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="formGroup.get('email').hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formGroup.get('email').hasError('email') && !formGroup.get('email').hasError('required')">
          Email is invalid
        </mat-error>
        <mat-error *ngIf="formGroup.get('email').hasError('matchValue')">
          Podany adres email jest w bazie
        </mat-error>
      </mat-form-field>

      <app-passwords-form-group (passwordsFormEmitter)="getPasswordsFormGroup($event)"></app-passwords-form-group>

      <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid || buttonDisabled" (click)="signup()">
        Register
      </button>
    </form>

    <button mat-raised-button color="primary" (click)="loginWithGoogleAccount()">
      Register using Google
    </button>

    <h3 class="text-or">lub</h3>
    <div id="buttons">
      <button mat-button color="primary" routerLink="../login">Sign in</button>
    </div>

  </mat-card-content>
</mat-card>