
.mainBody{
    width: 80%;
    margin: auto;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin-bottom: 15px;
}

.headerImgContainer{
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-image: url("../assets/header.jpg");
    text-align: center;
    line-height: 200px;
	text-shadow: 0px 0px 7px rgba(246, 239, 239, 0.75);
	color: #092A2A;
    font-size: 65px;
    font-family: "Comic Sans MS";
}