<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Password reset</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="formGroup" #form="ngForm">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="formGroup.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="formGroup.get('email').hasError('email') && !formGroup.get('email').hasError('required')">
          Email is invalid
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit"
              [disabled]="formGroup.invalid || buttonDisabled"
              (click)="resetPasswordInit()">
        Send
      </button>
    </form>


  </mat-card-content>
</mat-card>
