<h2>Your observe Teams:</h2>

<div class="singleLine" *ngFor="let team of ObserveTeams" routerLink="/team/{{team._id}}">
    {{team.team_name}}
    <button mat-button color="warn" (click)="DeleteTeam($event, team)">Del</button>
</div>


<h2>Your observe Leagues:</h2>

<div class="singleLine" *ngFor="let league of ObserveLeagues" routerLink="/league/{{league.leagueId}}">
    {{league.data.name}}
    <button mat-button color="warn" (click)="DeleteLeague($event, league)">Del</button>
</div>

      