#forms
{
  margin-top: 5px;
  text-align: center;
}
.country
{
  float: left;
  width: 50%;
  text-align: center;
}
.cb
{
  clear: both;
}
.match
{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-family: 'Gothic A1', sans-serif;
}
.squere
{
  float: left;
  width: 33%;
  text-align: center;
}